.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 48px 24px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
}

.list__item:nth-child(odd) {
  background-color: rgb(241, 241, 241);
}

.list__checkbox {
  margin-right: 16px;
}

.list__checkbox:checked + label {
  text-decoration: line-through;
  color: rgb(131, 131, 131);
}

.add-item {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.add-item__input {
  width: 100%;
  margin-right: 24px;
  padding: 8px;
}

.add-item__button {
  min-width: 120px;
}
