html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #272727;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.page {
  padding: 64px 0;
}

.container {
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  align-self: flex-start;
}

.button {
  background: #6d6d6d;
  color: #fff;
  border: none;
  border: 2px solid #4e4e4e;
  border-radius: 4px;
  cursor: pointer;
}

.form {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form__input {
  width: 100%;
  padding: 8px;
  background: #303030;
  color: #fff;
  border: 2px solid #383838;
  border-radius: 4px;
}

.form__button {
  min-width: 120px;
  margin-left: 24px;
  font-weight: bold;
}
